
<div class="card-container">
  <% @cards.each_with_index do |card, index| %>
  <div class="card-box <%= "active" if index == 0 %>">
    <div class="wrapper">
      <div class="front">
        <div class="content"><%= render_word_content(card.word) %></div>
      </div>

      <div class="back">
        <div class="content"><%= render_explanation_content(card.explanation) %></div>
      </div>
    </div>
  </div>

  <% end %>
</div>