// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/transition";
@import "compass/css3/border-radius";

.card-box {
  width: 500px;
  height: 200px;
  max-height: 200px;
  overflow: hidden;

  margin: 20px;
  border: 1px solid #111;

  text-align: center;
  cursor: pointer;
  @include border-radius(5px);

  .content {
    font-size: 40px;
    display:table-cell; vertical-align:middle; 
  }

  .wrapper {
    width: 1000px;
    height: 200px;
  }

  .front {
    float: left;
    width: 500px;
    height: 200px;
    vertical-align: middle;
    background-color: #fff;
    @include transition(margin 0.3s);
    display: table;
  }

  .back {
    float: left;
    width: 500px;
    height: 200px;
    vertical-align: middle; 
    background-color: #ccc;
    display: table;
  }

  &.flip {
    .front {
      margin-left: -500px;
    }
  }
}