// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

$card-box-width: 500px;
$card-box-height: 200px;
$card-box-front-backgroud-color: #fff;
$card-box-back-backgroud-color: #ccc;
$card-box-margin-bottom: 20px;

.cards-container {
  height: ($card-box-height + $card-box-margin-bottom) * 3;
  max-height: ($card-box-height + $card-box-margin-bottom) * 3;
  overflow: hidden;

  .card-box {
    @include opacity(0.3);
    //display: none;

    &.active {
      @include opacity(1);
      display: block;
    }

  }

  .cards-wrapper {
    margin-top: 220px;
    @include transition(margin 0.5s);
  }
}



.card-box {
  width: $card-box-width;
  height: $card-box-height;
  max-height: $card-box-height;
  overflow: hidden;

  margin: 0 auto $card-box-margin-bottom;
  border: 1px solid #111;

  text-align: center;
  cursor: pointer;
  @include border-radius(5px);

  .content {
    font-size: 40px;
    display:table-cell; vertical-align:middle; 
  }

  .wrapper {
    width: $card-box-width * 2;
    height: $card-box-height;
  }

  .front {
    float: left;
    width: $card-box-width;
    height: $card-box-height;
    vertical-align: middle;
    background-color: $card-box-front-backgroud-color;
    @include transition(margin 0.1s);
    display: table;
  }

  .back {
    float: left;
    width: $card-box-width;
    height: $card-box-height;
    vertical-align: middle; 
    background-color: $card-box-back-backgroud-color;
    display: table;
  }

  &.flip {
    .front {
      margin-left: -500px;
    }
  }
}